@using BeltExam.Models
@model HangoutUserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam Show</title>
    <link rel="stylesheet" href="~/css/Show.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <h1>Dojo Activity Center</h1>
            <ul id="nav" class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        </nav>
        <h3 class="inline">@Model.Hangout.Title</h3>
        @if (Model.Hangout.CreatorId == Model.User.UserId)
        {
            <a class="btn btn-primary inline join-btn" asp-action="Delete" asp-route-hangoutId="@Model.Hangout.HangoutId" asp-controller="Home">Delete</a>
        }
        else
        {
            @if (Model.Hangout.HangoutParticipants.Count > 0)
            {
                @if (Model.Hangout.HangoutParticipants.Any(h => h.Participant.UserId == Model.User.UserId))
                {
                    <a class="btn btn-primary inline join-btn" asp-action="Leave" asp-route-hangoutId="@Model.Hangout.HangoutId" asp-controller="Home">Leave</a>
                }
                else
                {
                    <a class="btn btn-primary inline join-btn" asp-action="Join" asp-route-hangoutId="@Model.Hangout.HangoutId" asp-controller="Home">Join</a>
                }
            }
            else
            {
                <a class="btn btn-primary inline join-btn" asp-action="Join" asp-route-hangoutId="@Model.Hangout.HangoutId" asp-controller="Home">Join</a>
            }
        }
        <div class="activity-details">
            <h5>Event Coordinator: @Model.Hangout.Creator.FirstName</h5>
            <h5>Description:</h5>
            <p>@Model.Hangout.Description</p>
            <h5>Participants</h5>
            <ul>
                @foreach (var hangparticipant in Model.Hangout.HangoutParticipants)
                {
                    <li>@hangparticipant.Participant.FirstName</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>